@tailwind base;
@tailwind components;
@tailwind utilities;

#__next,
html,
body {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  overflow-x: hidden !important;

  --background: #ffffff;
  --foreground: #171717;

  color-scheme: light !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
